
#banner {
background: #fff url(banner.jpg) repeat-x center top;
width: 100%;
height: 150px;
}

#wrapper {
  margin: 1em auto;
  padding: 10px;
  width: 1200px;
  border: 3px solid black;
  background-color: #ffffff;
}

body{
  background-color: gray;
}

.floater {
  float: left;
  width: 40%;
  height: 40%;
  padding: 20px;
  margin: 20px;
}

h1 {
  font-family:helvetica;
  color: #1A60C9;
  grid-column: span 6;
  font-weight:normal;
  padding: 30px 0px 0px 0px;
  margin:0px;
  text-align: left;
  text-shadow: 2px 2px 5px purple;
  font-family: 'Chango', cursive;
}

main {
  grid-column: span 5;
  margin-right: 10px;
}

.floaters {
    margin-top: 20px;
    width: 100%;
    height: 300px;
    border-radius: 30px;
}


nav ul {
  list-style-type: none;
  margin: 0 0 0 125px;
  padding: 0;
  grid-column: span 1;
}

nav li {
  font-family: helvetica;
  margin: 20px 20px 20px 0px;
  padding: 0px;
  width: 300px;
  color: #42448D;
  display: inline-block;
  text-align: center;
  font-size: larger;
  font-style: bold;
}

nav li a {
  color: #42448D;
  display: block;
  padding: 10px;
  text-decoration: none;
  font-style: bold;
}

nav li a:hover {
  background-color: aqua;
}

footer {
  font-family:Verdana;
  text-align:center;
  color: white;
  background-color: #1A60C9;
  border: 2px solid black;
  grid-column: span 6;
  font-style:italic;
  padding: 0px;
  margin: 50px;
  clear:both;
}

p a {
  color: red;
  font-style: bold;
  text-decoration: none;
}

p a:hover {
  color: blue;
  text-decoration:underline;
}

.mine {
  float: left;
  width: 40%;
  height: 40%;
  padding: 20px;
  margin: 20px;
}

article{
  clear:both;
}

audio {
  float: left;
  margin: 20px;
  padding: 40px;
}
