a {
 color: ##006400;
}

a:link {
 color: ##006400;
 text-decoration: none;
}

a:visited {
 color: #green;
}

a:active {
 color: #FF0000;
}

a:hover {
 color: #red;
 text-decoration: underline;
}

h1 {
  color: #white;
}

#start {
  background-color: #lightblue;
}

h2 {
  color: #darkblue;
}

h3 {
  background-color: #yellow;
}
