body {
  font-family:sans-serif;
  background-color: #0000ff;
  background-image: assignment4/creativelogo.jpg);
  background-repeat: no-repeat;
  background-position: top left;
}

h1 {
  color: #FFA500;
  font-style: italic;
  font-weight: normal;
  background-color:#2F4F4F;
}

h2 {
  color:#FFA500;
  font-style: italic;
  font-weight: normal;
  background-color:#483D8B;
}

h3 {
  color:#FFA500;
  font-style: italic;
  font-weight: normal;
  background-color: #FFDAB9;
}

p {
  color:#E0FFFF;
  background-color:#696969;
}

a {
 color: #FF0000;
}

a:link {
 color: #FF0000;
}

a:visited {
 color: #008000;
}

a:active {
 color: #FF0000;
}

a:hover {
 color: #FFFF00;
}

.points {
  color:#BC8F8F;
  background-color: #FFF5EE;
}

#name {
  color:#663399;
  background-color: #C0C0C0;
}

#require {
  color: #B0E0E6;
  background-color: #DDA0DD;
}

.span {
  color: #AFEEEE;
  background-color: #000080;
}

.center {
  text-align: center;
}

.textjustify {
   text-align: justify;
}

img {
  border: 10px solid black;
  background-color:white;
  padding: 20px 20px 20px 20px;
}
